---
import astroLogo from '@/assets/astro.svg';
import background from '@/assets/background.svg';
import Experience from '@/components/sections/Experience.astro'
import Education from '@/components/sections/Education.astro'
import About from '@/components/sections/About.astro'
import Hero from '@/components/sections/Hero.astro'
import Projects from '@/components/sections/Projects.astro'
import Skills from '@/components/sections/Skills.astro'
import KeyboardManager from '@/components/KeyboardManager.astro'
import Awards from './sections/Awards.astro';
---

<div id="Minimalist Portfolio">
	
<main>
	<Hero /> 
	<About /> 
	<Experience /> 
	<Skills /> 
	<Education /> 
	<Projects /> 
	<Awards /> 


</main>

<KeyboardManager /> 

	

<style>
	

	main{
		padding: 4rem;
		margin: auto;
		border-image-width: 100%;
		margin-bottom: 0px;
	}

</style>
